.twt-drawer-header{
    line-height: 40px;
}
.twt-drawer-header i{
    font-size: 35px;
    float: right;
    margin: 15px 25px 10px 10px;
}

.twt-drawer-body{
    margin: 0px 10px 0px 10px;
}

.twt-drawer-submit{
    float: right;
    margin-top: 20px;
}

.twt-add-screenName{
    float: right;
    margin-top: -15px;
}