<div class="twt-flex-container">
    <div class="twt-avatar">
        <i *ngIf="tweet?.isRetweeted" class="material-icons mdl-list__item-icon twt-is-retweeted">transform</i>
        <img src="{{tweet?.displayAvatar}}" alt="">
    </div>
    <div class="twt-message">
        <div *ngIf="tweet?.isRetweeted" class="twt-is-retweeted-container">
            <span>{{tweet?.accountName}} Retweeted</span>
        </div>
        <div class="twt-msg-header">
            <span class="screen-name">{{tweet?.displayName}}</span>
            <span>
                <span class="username">@{{tweet?.displayScreenName}}</span>
                <span class="tweet-date">on {{tweet?.date | dateFormat}}</span>
            </span>
        </div>
        <div class="twt-msg-text" [innerHTML]="tweet?.tweetText | tweetText">
        </div>
        <div class="twt-msg-media" *ngIf="tweet?.mediaImages.length">
            <img src="{{tweet?.mediaImages[0]}}" alt="">
        </div>
        <div class="twt-msg-media" *ngIf="tweet?.mediaVideos.length">
            <video controls poster="{{tweet?.mediaVideos[0].videoThumbnail}}" >
                <source src="{{tweet?.mediaVideos[0].videoUrl}}" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
        </div>
        <div class="twt-msg-footer">
            <span class="retwit-color">
                <i class="material-icons mdl-list__item-icon retwit-color">transform</i>
                {{tweet?.retweetCount}}
            </span>
            <span class="fav-color">
                <i class="material-icons mdl-list__item-icon fav-color">favorite</i>
                {{tweet?.favoriteCount}}
            </span>
        </div>
    </div>
</div>